/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
  --mdc-snackbar-container-color: green !important;
}

.snackbar-error {
  --mdc-snackbar-container-color: red !important;
}

.snackbar-success .mat-mdc-snack-bar-label, .snackbar-error .mat-mdc-snack-bar-label {
  color: white !important;
}

mat-form-field {
  width: 100%;
}

.mat-icon[matlistitemicon] {
  margin-right: 16px !important;
}
