/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
  color: white !important;
  background: green !important;
}

.snackbar-error {
  color: white !important;
  background: red !important;
}

mat-form-field {
  width: 100%;
}

.mat-icon[matlistitemicon] {
  margin-right: 16px !important;
}
